<%= form_with(model: home) do |form| %>
  <% if home.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(home.errors.count, "error") %> prohibited this home from being saved:</h2>

      <ul>
        <% home.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% form.label :name, style: "display: block" %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Your name (Optional)' %>
  </div>
  <br />

  <div class="form-group">
    <% form.label :body, style: "display: block" %>
    <%= form.text_area :body, class: 'form-control', placeholder: 'Comment' %>
  </div>
  <br />

  <div>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    submit
   <% end %>
  </div>

  
<% end %>
