<p style="color: green"><%= notice %></p>

<%= render @home %>

<div>
  <%= link_to "Edit", edit_home_path(@home), class: 'btn btn-primary' %> |
  <%= link_to "Back to home page", homes_path, class: 'btn btn-secondary' %> <br /> <br />

  <%= button_to "Delete Comment?", @home, method: :delete, class: 'btn btn-danger' %>
</div>
